# CELERITY Panel
PANEL_API_URL=http://localhost:3000
PANEL_API_KEY=ck_your_api_key_here

# API server
PORT=3100

# Telegram Bot
TELEGRAM_BOT_TOKEN=your_bot_token_here
ADMIN_TELEGRAM_ID=123456789

# Panel subscription base URL
PANEL_SUB_URL=https://your-panel-domain.com

# SQLite database path (relative to project root)
DATABASE_PATH=data.db

API_BASE_URL=http://localhost:3100/
DOCS_URL=dfgdsfgsgf
DOCS_PASS=111
